<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dataFormat">

    <select id="findFormatsByDeptid" parameterType="String" resultType="dataFormat">
        SELECT * from k_data_file_format WHERE dept_id = #{_parameter} AND isdelete = 0
    </select>

</mapper>
