<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dataDept">
    <!--查询部门-->
    <select id="findDeptById" parameterType="String" resultType="dataDept">
        SELECT * FROM k_data_dept WHERE id = #{_parameter}
    </select>

    <select id="findAllDepts" resultType="dataDept">
        SELECT * from k_data_dept WHERE isdelete = 0
    </select>

</mapper>
