<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
    <!--查询用户-->
    <!--<select id="findUserById" parameterType="String" resultType="user">
        SELECT * FROM USER WHERE NAME = #{name}
    </select>

    <select id="findAllUsers" resultType="user">
        SELECT * from USER
    </select>-->

</mapper>
